<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .inline{
        display:inline-block;
    }
    #search-box{
        background:url("/img/search-box.png");
    }
</style>
<body>
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-2">
                Wander
            </div>
            <div class="col-md-2 pull-right ">
                <div id="search-box" >
                    <input name="keyword" type="text">
                </div>
                <img src="/img/info">
            </div>
        </div>
        <div class="row" id="nav">

        </div>
    </div>
</body>
</html>