.ib {
  display: inline-block;
}
.il {
  display: inline;
}
.ul-inline li {
  display: inline;
}
ul li {
  list-style: none;
}
a {
  color: #000000;
}
.grey {
  color: #666666;
}
.blue-font {
  color: #337ab7;
}
a,
a:hover {
  text-decoration: none !important;
  cursor: pointer;
}
* {
  font-family: 'Ubuntu', "宋体", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html,
body {
  height: 100%;
}
body {
  overflow-y: scroll;
}
.bg-cover {
  background-size: cover;
}
ul,
menu,
dir {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
img,
video {
  width: 100%;
  height: auto;
}
.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  margin-top: 0;
}
.col1 {
  width: 8.333333333333334%;
  display: block;
  float: left;
  height: 100%;
}
.col2 {
  width: 16.666666666666668%;
  display: block;
  float: left;
  height: 100%;
}
.col3 {
  width: 25%;
  display: block;
  float: left;
  height: 100%;
}
.col4 {
  width: 33.333333333333336%;
  display: block;
  float: left;
  height: 100%;
}
.col5 {
  width: 41.666666666666664%;
  display: block;
  float: left;
  height: 100%;
}
.col6 {
  width: 50%;
  display: block;
  float: left;
  height: 100%;
}
.col7 {
  width: 58.333333333333336%;
  display: block;
  float: left;
  height: 100%;
}
.col8 {
  width: 66.66666666666667%;
  display: block;
  float: left;
  height: 100%;
}
.col9 {
  width: 75%;
  display: block;
  float: left;
  height: 100%;
}
.col10 {
  width: 83.33333333333333%;
  display: block;
  float: left;
  height: 100%;
}
.col11 {
  width: 91.66666666666667%;
  display: block;
  float: left;
  height: 100%;
}
.col12 {
  width: 100%;
  display: block;
  float: left;
  height: 100%;
}
