<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wander.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="static/js/jquery-2.0.0.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/distpicker.data.js"></script>
    <script src="static/js/distpicker.js"></script>
    <style>
        .active-summary li{
            margin-right: 30px;
        }
        .active-summary li,.active-summary li span{
            font-size: 16px;
        }
    </style>
</head>
<body>
<div id="main-container">
    <div class="web-container">
        <div  id="header-container" th:replace="~{header::header}"></div>
        <div  class="flex-container">
            <div  class="left-container">
                <div class="active-container" id="item-detail">
                    <h4>{{item.title}}</h4>
                    <ul class="active-summary ul-inline">
                        <li ><span class="glyphicon glyphicon-calendar"></span> 16/3/11 - 16/3/15</li>
                        <li ><span class="icon-group"></span> {{item.nowHC}}人已报名/上限{{item.maxHC}}人</li>
                        <li ><span class="icon-eye-close"></span> {{item.focusCount}}</li>
                        <li ><span class="glyphicon icon-money"></span> {{item.expense}}元/人</li>
                        <li class="join"><button class="btn btn-success">加入</button></li>
                    </ul>
                    <div v-html="item.content"></div>
                </div>
            </div>

            <div  class="right-container" th:insert="~{/component/activity-right::activity-right}" id="activity-right"></div>

            <div id="footer-container" th:insert="~{footer::footer}"></div>
        </div>
    </div>

</div>
        <script>
            var id = GetRequest()["id"];
            var detailApp = new Vue({
                el:"#item-detail",
                data:{
                    item:''
                },
                methods:{
                    fetch:function () {
                    $.ajax({url:"activity/detail",data:{id:id}}).success(function (res,status,jqXHR) {
                        detailApp.item = res;
                    });
                    }
                }
            });
            detailApp.fetch();
        </script>
</body>
</html>