<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wander.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/container.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery-2.0.0.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body>
    <div class="web-container">
        <div id="header" >
            <div class="col3" id="site-logo">
                <a >Wander</a>
            </div>
            <div class="col6">
                <ul id="nav" >
                    <li class="tab" id="dynamic">动态</li>
                    <li class="tab" id="advice">攻略</li>
                    <li class="tab" id="activity">活动</li>
                </ul>
            </div>

            <div class="col3" >
               <div id="header-right">
                   
                   <div id="search-box" class="ib">
                       <input name="keyword" type="text" width="30px">
                   </div>
                   <img id="info" src="img/info.png" style="width:20px;height:20px;">
                   <img id="user-pic" src="img/user.jpg">
               </div>
            </div>
        </div>
        <div id="main-content" ></div>
        <script>
            $("#main-content").load("dynamic.html");
            $("#main-content").load("index.html");
        </script>
        <div id="footer" style="background:rgba(245,245,245,1);padding:20px 0;margin-top:20px;height:100px;">

        </div>
    </div>
</body>
</html>
