<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<body>
        <div id="header" th:fragment="header">
            <div class="col3" id="site-logo">
                <a >WANDER</a>
            </div>
            <div class="col6">
                <ul id="nav" >
                    <li class="tab" id="dynamic">动态</li>
                    <li class="tab" id="advice">攻略</li>
                    <li class="tab" id="activity">活动</li>
                </ul>
            </div>

            <div class="col3" >
               <div id="header-right">
                   

                   <div id="user-group">
                       <!--<img id="user-pic" src="static/img/user.jpg">-->
                       <!--<span class="badge">12</span>-->
                       <a data-toggle="modal" data-target="#signinModal">登录</a>
                       <a data-toggle="modal" data-target="#signupModal">注册</a>
                   </div>

                   <div id="search-box" class="ib">
                       <input name="keyword" type="text" width="30px">
                   </div>

               </div>
            </div>

            <div id="signinModal" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="form-horizontal" method="POST" id="signinForm">
                                <div class="form-group">
                                    <label >用户名</label>
                                    <input class="form-control"  type="text" name="username"  maxlength="16" required>
                                </div>
                                <div class="form-group">
                                    <label  >密码</label>
                                    <input class="form-control" type="password" name="password"  required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" id="signinBtn" >登录</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div id="signupModal" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="form-horizontal" method="POST" id="signupForm">

                                <div class="form-group">
                                    <label  >邮箱</label>
                                    <input class="form-control" name="email" type="email" required>
                                </div>

                                <div class="form-group">
                                    <label  >昵称</label>
                                    <input class="form-control" type="text" name="username"  required>
                                </div>
                                <div class="form-group">
                                    <label  >密码</label>
                                    <input class="form-control" type="password" name="password"  id="password" required>
                                </div>

                                <div class="form-group">
                                    <label  >确认密码</label>
                                    <input class="form-control" type="password" name="confirmPsw" id="confirmPsw" required>
                                </div>

                                <div class="form-group">
                                    <label  >漫步宣言</label>
                                    <input class="form-control" name="motto" maxlength="60" required>
                                </div>

                                <div class="form-group">
                                    <label  >性别</label>
                                    <ul class="gender-group">
                                        <li><input type="radio" name="gender" value="1">男</li>
                                        <li><input  type="radio" name="gender" value="2">女</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" id="signupBtn" >注册</button>
                                </div>


                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <script src="static/js/jqueryvalidate/jquery.validate.js"></script>
            <script src="static/js/jqueryvalidate/messages_zh.js"></script>
            <script>
                $.validator.setDefaults({
                    submitHandler: function() {
                        alert("提交事件!");
                    }
                });
                $().ready(function() {
                    $("#signinForm").validate({
                        rules:{
                            password:{
                                rangelength: [6, 16]
                            }
                        }
                    });
                    $("#signupForm").validate({
                        rules:{
                            username:{
                                rangelength: [6, 16]
                            },
                            password:{
                                rangelength: [6, 16]
                            },
                            confirmPsw:{
                                equalTo:"#password",
                                rangelength: [6, 16]
                            }
                        }
                    });
                });
            </script>
        </div>



</body>
</html>
