<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wander.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">


    <link href="static/css/index.css" rel="stylesheet">
    <style >
        .item{
            overflow: hidden;
            width: 100%;
            height: 600px;
        }
        #header{
            margin-bottom: 0 !important;
        }
        .carousel-indicators li{
            margin-right: 20px !important;
        }
        #spot-carousel,.activities{
            margin-bottom:20px;
        }

        .one-line{
            width: 100%;
        }
    </style>
</head>
<body>
<div id="main-container">
    <div class="web-container">
    <div  id="header-container" th:replace="~{header::header}"></div>

    <div class="main-content">
        <div id="spot-carousel">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active bg-cover" style="background-image:url('static/img/sp0.jpeg')">
                    </div>
                    <div class="item bg-cover" style="background-image:url('static/img/sp1.jpeg')">
                    </div>
                    <div class="item bg-cover" style="background-image:url('static/img/sp2.jpeg')">
                    </div>
                </div>
            </div>
        </div>

        <div class="activities" id="activity-list">
            <div class="grid" >
                <h4>活动</h4>
                <figure v-for="item in items">
                    <a :href="'/activity-detail.html?id='+item.id" class="link-box">
                        <img :src="item.coverUrl" />
                    <figcaption>
                        <h2>{{item.title}}</h2>
                        <div>
                            <p> <span>{{item.publisherName}} 创建于 {{item.createTime | moment}}</span></p>
                            <p><span>￥{{item.expense}} </span><span>{{item.startTime | moment}} --{{item.endTime | moment}}</span> </p>
                            <p><span> {{item.nowHC}}/{{item.minHC}} 已报名 </span> </p>
                        </div>
                    </figcaption>
                    <!--<div class="favor"><span class="icon-eye-open"></span>{{item.focusCount}}</div>-->
                    </a>
                </figure>
            </div>
        </div>

        <div class="strategy" id="strategy-list">
        <div class="grid">
            <h4>攻略</h4>
            <figure v-for="item in items">
                <a :href="'/strategy/detail.html?id='+item.id" class="link-box">
                    <img :src="item.coverUrl" alt="img21"/>
                <figcaption>
                    <h2>{{item.title}}</h2>
                    <div>
                        <p><span>{{item.publisherName}} 发表于 {{item.createTime |moment}}</span></p>
                        <p><span>￥{{item.expense}}</span> <span>{{item.startTime |moment}} -- {{item.endTime |moment}}</span></p>
                        <p><span class="one-line">{{item.summary}}</span></p>
                    </div>
                </figcaption>
                <!--<div class="favor"><span class="glyphicon glyphicon-heart-empty"></span>{{item.likeCount}}</div>-->
                </a>
            </figure>
        </div>
    </div>
    </div>
    <div id="footer-container" th:insert="~{footer::footer}"></div>
    <script src="static/js/jquery-2.0.0.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/moment.js"></script>
    <script src="static/js/common.js"></script>
    <script>
        Vue.filter('moment', function (value, formatString) {
            formatString = formatString || 'YY/MM/DD';
            return moment(value).format(formatString);
        });
        var strategyApp =new Vue({el:"#strategy-list",
            data:{
                items:''
            },
            methods:{
                getPage:function () {
                    $.ajax({url:"strategy/query",data:{pageId:1,size:3}})
                        .success(function (res,status,jqXHR){
                        console.log(res);
                        strategyApp.items = res.content;
                });
                }
            }
        });
        var activityApp =new Vue({el:"#activity-list",
            data:{
                items:''
            },
            methods:{
                getPage:function () {
                    $.ajax({url:"activity/query",data:{pageId:1,size:3}})
                        .success(function (res,status,jqXHR){
                            console.log(res);
                            activityApp.items = res.content;
                        });
                }
            }
        });
        strategyApp.getPage();
        activityApp.getPage();

    </script>
</div>
</div>
</body>
</html>