<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wander.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/wangeditor/css/wangEditor.min.css" rel="stylesheet">
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">
    <script src="static/js/jquery-2.0.0.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jqueryvalidate/jquery.validate.js"></script>
    <script src="static/js/jqueryvalidate/messages_zh.js"></script>
    <script src="static/js/wangeditor/wangEditor.min.js"></script>
    <style>
        #strategy-form{
            padding:0 20px;
        }

    </style>
</head>
<body>
    <div class="web-container">
        <div  id="header-container" th:replace="~{header::header}"></div>
       <div class="flex-container">
           <div class="left-container">
               <form id="strategy-form" class="form-horizontal">
                   <div class="form-group">
                       <input class="form-control" type="text" name="title"  maxlength="30" required
                       placeholder="标题应少于30字">
                   </div>

                   <div class="form-group">
                       <label>摘要</label>
                       <textarea class="form-control" type="text" name="summary" maxlength="300"></textarea>
                   </div>

                   <div class="form-group">
                       <textarea id="editor" required></textarea>
                   </div>


               </form>
           </div>
           <div class="right-container"></div>
       </div>
        <div id="footer-container" th:insert="~{footer::footer}"></div>
    </div>

    <script type="text/javascript">
       createEditor();
    </script>
</body>
</html>