<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Wander.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/font-awesome1.min.css" rel="stylesheet">
	<link href="static/css/user.css" rel="stylesheet">
	<link href="static/css/common.css" rel="stylesheet">
	<link href="static/css/reset.css" rel="stylesheet">
	<script src="static/js/jquery-2.0.0.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<style>
		.user-avatar img{

			border-radius: 50%;
		}
		#header{
			margin-bottom: 0 !important;
		}
		.menu-content{
			padding-left: 10px;
		}
	</style>
</head>

<body>
<div id="main-container">
    <div class="web-container">
		<div th:insert="header::header"></div>
		<section class="my-container">
			<!--<nav class="container-fluid nav-wrap">-->
			<!--<div class="nav-logo">-->
			<!--<span>WANDER.com</span>-->
			<!--</div>-->
			<!--<div class="nav-panel">-->
			<!--<div class="nav-child nav-child-height"></div>-->
			<!--<div class="nav-child nav-child-search">-->
			<!--<i class="fa fa-search" aria-hidden="true"></i>-->
			<!--<input type="text" class="form-control" placeholder="Search for...">-->
			<!--</div>-->
			<!--<div class="nav-child nav-child-notice">-->
			<!--<span class="fa fa-bell-o" aria-hidden="true"></span>-->
			<!--</div>-->
			<!--<div class="nav-child nav-child-avatar">-->
			<!--<img src="static/img/avatar.jpg">-->
			<!--</div>-->
			<!--<div class="nav-child nav-child-name">-->
			<!--<span>John</span>-->
			<!--</div>-->
			<!--</div>-->
			<!--</nav>-->
			<div class="nav-jumbotron-content">
				<div class="user-info">
					<div class="user-avatar">
						<img src="static/img/user.png">
					</div>
					<div class="user-name">
						<span>John</span>
					</div>
					<div class="user-follow">
						<span>已关注</span>
					</div>
					<div class="user-slogan">
						<p>这世界，用一生走完</p>
					</div>
				</div>
				<div class="user-map" data-toggle="modal" data-target="#profileModal">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<a >编辑资料</a>
				</div>
			</div>
		</section>
		<section class="content">

			<div class="col3 menu">
				<ul class="list-group">
					<li class="list-group-item">
						<i class="fa fa-users" aria-hidden="true"></i>
						<span>关注的人</span>
						<span class="badge">14</span>
					</li>
					<li class="list-group-item">
						<i class="fa fa-user" aria-hidden="true"></i>
						<span>好友</span>
						<span class="badge">14</span>
					</li>
					<li class="list-group-item">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
						<span>粉丝</span>
						<span class="badge">14</span>
					</li>
					<li class="list-group-item">
						<i class="fa fa-binoculars" aria-hidden="true"></i>
						<span>旅游计划</span>
						<span class="badge">14</span>
					</li>
				</ul>
			</div>
			<div class="col9 menu-content">
				<div id="sub-menu-1">
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">Bob</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">这世界，用一生走完</p>
							</div>
						</div>
					</div>
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">Daley</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">用一生走完</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sub-menu-2">
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">LaLaLa2</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">简介：这世界，用一生走完这世界，用一生走完这世这世界，用一生走完这世界，用一生走完这世界，用一生走完界，用一生走完这世界，用一生走完</p>
							</div>
						</div>
					</div>
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">LaLaLa</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">简介：这世界，用一生走完这世界，用一生走完这世这世界，用一生走完这世界，用一生走完这世界，用一生走完界，用一生走完这世界，用一生走完</p>
							</div>
						</div>
					</div>
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">LaLaLa</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">简介：这世界，用一生走完这世界，用一生走完这世这世界，用一生走完这世界，用一生走完这世界，用一生走完界，用一生走完这世界，用一生走完</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sub-menu-3">
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">LaLaLa3</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">简介：这世界，用一生走完这世界，用一生走完这世这世界，用一生走完这世界，用一生走完这世界，用一生走完界，用一生走完这世界，用一生走完</p>
							</div>
						</div>
					</div>
					<div class="user-thumbnail-wrap">
						<div class="user-thumbnail">
							<div class="my-thumbnail">
								<img src="static/img/avatar.jpg">
							</div>
							<div class="info">
								<p class="name">LaLaLa</p>
								<p class="follow"><i class="fa fa-exchange" aria-hidden="true"></i>互相关注</p>
								<p class="introduce">简介：这世界，用一生走完这世界，用一生走完这世这世界，用一生走完这世界，用一生走完这世界，用一生走完界，用一生走完这世界，用一生走完</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sub-menu-4">
					<div class="plan-button">
						<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
						<a>定制计划</a>
					</div>
					<div>
						<div class="travel-plan">
							<div class="picture">
								<img src="static/img/travel-1.jpg">
							</div>
							<div class="checkbox-wrap">
								<div class="checkoutbox">
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
									<span class="location-name">埃及</span>
									<span class="date">2017-05-01</span>
								</div>
							</div>
							<div class="introduce">
								<p>古埃及第三王朝之前，无论王公大臣还是老百姓离世后，都被葬入一种用泥砖建成的长方形的坟墓，古代埃及人叫它“马斯塔巴”。后来，有个聪明的年轻人伊姆荷太普，在给埃及法老左塞王设计坟墓时，发明了一种新的建筑方法。他用上采下的呈方形的石块来代替泥砖，并不断修改修建陵墓的设计方案，最终建成一个六级的梯形金字塔——这就是我们所看到的金字塔的雏形。样子像汉字的“金”字，所以中国人把它写为“金字塔”（原文是
									pyramid）。伊姆荷太普设计的塔式陵墓是埃及历史上的第一座石质陵墓。
								</p>
							</div>
							<div class="line-top"></div>
							<div class="line-bottom"></div>
						</div>
						<div class="travel-plan">
							<div class="picture">
								<img src="static/img/travel-1.jpg">
							</div>
							<div class="checkbox-wrap">
								<div class="checkoutbox">
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
									<span class="location-name">埃及</span>
									<span class="date">2017-05-01</span>
								</div>
							</div>
							<div class="introduce">
								<p>古埃及第三王朝之前，无论王公大臣还是老百姓离世后，都被葬入一种用泥砖建成的长方形的坟墓，古代埃及人叫它“马斯塔巴”。后来，有个聪明的年轻人伊姆荷太普，在给埃及法老左塞王设计坟墓时，发明了一种新的建筑方法。他用上采下的呈方形的石块来代替泥砖，并不断修改修建陵墓的设计方案，最终建成一个六级的梯形金字塔——这就是我们所看到的金字塔的雏形。样子像汉字的“金”字，所以中国人把它写为“金字塔”（原文是
									pyramid）。伊姆荷太普设计的塔式陵墓是埃及历史上的第一座石质陵墓。
								</p>
							</div>
							<div class="line-top"></div>
							<div class="line-bottom"></div>
						</div>
						<div class="travel-plan">
							<div class="picture">
								<img src="static/img/travel-1.jpg">
							</div>
							<div class="checkbox-wrap">
								<div class="checkoutbox">
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
									<span class="location-name">埃及</span>
									<span class="date">2017-05-01</span>
								</div>
							</div>
							<div class="introduce">
								<p>古埃及第三王朝之前，无论王公大臣还是老百姓离世后，都被葬入一种用泥砖建成的长方形的坟墓，古代埃及人叫它“马斯塔巴”。后来，有个聪明的年轻人伊姆荷太普，在给埃及法老左塞王设计坟墓时，发明了一种新的建筑方法。他用上采下的呈方形的石块来代替泥砖，并不断修改修建陵墓的设计方案，最终建成一个六级的梯形金字塔——这就是我们所看到的金字塔的雏形。样子像汉字的“金”字，所以中国人把它写为“金字塔”（原文是
									pyramid）。伊姆荷太普设计的塔式陵墓是埃及历史上的第一座石质陵墓。
								</p>
							</div>
							<div class="line-top"></div>
							<div class="line-bottom"></div>
						</div>
						<div class="travel-plan">
							<div class="picture">
								<img src="static/img/travel-1.jpg">
							</div>
							<div class="checkbox-wrap">
								<div class="checkoutbox">
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
									<span class="location-name">埃及</span>
									<span class="date">2017-05-01</span>
								</div>
							</div>
							<div class="introduce">
								<p>古埃及第三王朝之前，无论王公大臣还是老百姓离世后，都被葬入一种用泥砖建成的长方形的坟墓，古代埃及人叫它“马斯塔巴”。后来，有个聪明的年轻人伊姆荷太普，在给埃及法老左塞王设计坟墓时，发明了一种新的建筑方法。他用上采下的呈方形的石块来代替泥砖，并不断修改修建陵墓的设计方案，最终建成一个六级的梯形金字塔——这就是我们所看到的金字塔的雏形。样子像汉字的“金”字，所以中国人把它写为“金字塔”（原文是
									pyramid）。伊姆荷太普设计的塔式陵墓是埃及历史上的第一座石质陵墓。
								</p>
							</div>
							<div class="line-top"></div>
							<div class="line-bottom"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
	<div  id="profileModal" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form class="form-container" method="POST" id="signupForm">
						<div class="form-group">
							<label  >用户名</label>
							<input class="form-control" type="text" name="username"  required>
						</div>

						<div class="form-group">
							<label  >漫步宣言</label>
							<input class="form-control" name="motto" maxlength="60" >
						</div>

						<div class="form-group">
							<label  >性别</label>
							<ul class="gender-group">
								<li><input type="radio" name="gender" value="0" checked>不告诉你</li>
								<li><input type="radio" name="gender" value="1">男</li>
								<li><input  type="radio" name="gender" value="2">女</li>
							</ul>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" id="signupBtn" >修改</button>
						</div>


					</form>
					<hr/>
					<form class="form-container" method="post"></form>
				</div>
			</div><!-- /.modal-content -->
		</div>
		</div><!-- /.modal -->

	</div>
</div>
</body>
<script src="static/js/user.js"></script>

</html>